$base-bg: rgba(77, 77, 97, 1); // #4d4d61
$dark-base-bg: darken($base-bg, 30%);
$light-base-bg: lighten($base-bg, 20%);

$base-fg: rgba(246, 245, 244, 1); // #f6f5f4
$base-outline-color: rgba(236, 241, 241, 0.3); //
$base-border-color: rgb(46, 52, 54); // #2e3436

