@import "mini_app_colors";

window {
  //background-image: none;
  background-color: $base-bg;
  color: $light-base-bg;
}

box.custom-widget-style
{
  label
  {
    font-size: 32px;
  }
  background-color: $base-border-color;
}

.dial-style
{
  background-color: $base-fg;
}

.scalar_display
{
  color: black;
}