@import "mini_app_colors";

window {
  //background-image: none;
  background-color: $base-bg;
  color: $light-base-bg;
}

box.custom-widget-style
{
  label
  {
    font-size: 32px;
  }
  background-color: $base-border-color;
}

.dial-style
{
  background-color: $base-fg;
}

.scalar_display
{
  font-size: 14px;
  font-family: monospace Serif;
  //color: $base-fg;
  //border-radius: 15px 15px 45px 45px;

  background-color: $scalar-display-light;
  border-radius: 15px 15px 45px 45px;
  border: 5px solid $scalar-display-dark;
  //box-shadow: inset 0 5px rgba(255, 255, 255, 0.5), 0 8px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.9);

  #name-box{
    background-color: $scalar-display-name;
    color: $scalar-display-light;
    font-size: 1.4em;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: .375em;
    padding-bottom: .25em;
  }
  #value-box{
    //background-color: $scalar-display-value;
    font-size: 5.3em;
    //color: $scalar-display-dark;
    //padding: .375em;
  }
  #units-box{
    //background-color: $scalar-display-units;
    //border-radius: 0 0 45px 45px;
    font-size: 1.1em;
    padding-bottom: .375em;
    color: $scalar-display-dark;
  }

}

.battery-indicator-class {
  //background-color: blue;
  border-radius: 5px 5px 5px 5px;
  //border: 3px solid limegreen;
  box-shadow: inset 3px 3px rgba(255, 255, 255, 0.5), 0 10px 20px rgba(0, 0, 0, 0.9);
}

box#overlay-popup-box
{
  box-shadow: 0 0 20px $gtk_text_color;

  border: 3px solid $pod-ux-darkest-blue;
  background-color: $gtk_bg_color;
  border-radius: 20px;
  button
  {
    border: 3px solid $pod-ux-darkest-blue;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    background-size: 100% 100%;
    font-size: 1.1em;
  }
}
